<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/JavaProject/Framework">
        <classes>
            <class name="tests.moocenutest.MoocEnuTest"/>
<!--            <class name="tests.mysitetest.MySiteTest"/>-->
        </classes>
    </test>
</suite>